<form ng-controller="contactController">
    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr" ng-model="name">
    </div>
    <div class="form-group">
        <label for="pwd">Email:</label>
        <input type="email" class="form-control" id="pwd" ng-model="email">
        <span class="description">{{email|uppercase}}</span>
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="number" class="form-control" id="phone" ng-model="phone">
    </div>
    <div class="form-group">
        <label for="about">About:</label>
        <textarea class="form-control" id="about" ng-model="about"></textarea>
        <span class="description">{{result}}</span>
    </div>
    <div style="float: right">
        <input type="button" class="btn btn-danger" value="rest" ng-click="clearForm()">
        <input type="button" class="btn btn-info" value="submit" ng-click="submitForm()">
    </div>
</form>
